/* .panelA {
    background-image: url('https://cdnb.artstation.com/p/assets/images/images/012/235/563/large/rasel-coridor2.jpg?1533742657');
    min-width: 100vw;
    min-height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    opacity: 1;
    z-index: -1;
    margin-top: none;
    color: white;
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 300;
    padding-left: 90vw;
    padding-top: 90vh;
} */

.main {
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(24, 1fr);
    width: 100vw;
    height: 100vh;
    /* background-image: url('https://cdnb.artstation.com/p/assets/images/images/012/235/563/large/rasel-coridor2.jpg?1533742657'); */
    /* background-size: cover;
    background-attachment: fixed; */
}

.header {
    background-image: linear-gradient(to right, #4B0082, #DA70D6);
    color: white;
    font-family: 'Roboto';
    font-size: 22px;
    display: flex;
    box-sizing: border-box;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    justify-content: flex-end;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    opacity: 0.8;
    outline-style: outset;
    outline-color: azure;

}

.topBar {
    background-image: linear-gradient(to right, #4B0082, #9400D3);
    /* height: 5vw; */
    width: 97vw;
    grid-column: 1 / -1;
    grid-row: 1 / 5;
    text-align: center;
    font-family: Roboto;
    font-size: 26px;
    margin-top: -8px;
    padding-top: 30px;
    padding-right: 3vw;
    color: white;
    display: flex;
    /* justify-content: flex-end; */
    opacity: 0.7;
    outline-style: inset;
    outline-color: azure;
    /* margin-left: -0.6vw; */

}

.xContent {
    background-image: linear-gradient(to right, #4B0082, #D8BFD8);
    margin-left: 5vw;
    margin-right: 5vw;
}

.xContentX {
    background-image: linear-gradient(to right, #4B0082, #FF00FF)
}

.sideBar {
    background-color: #4B0082;
    /* height: 5vw;
    width: 100vw; */
    grid-column: 1 / 4;
    grid-row: 5 / -1;
    text-align: center;
    font-family: Roboto;
    font-size: 26px;
    margin-top: -8px;
    padding-top: 30px;
    color: white;
    display: flex;
    justify-content: flex-end;
    opacity: 0.7;
    outline-style: inset;
    outline-color: azure;

}

.titleBar {
    font-size: 33px;
    padding-bottom: 5vh;
    font-family: Roboto;
    margin-top: 1vh;
    margin-bottom: 8vh;
    margin-right: 11.6vw;
    outline-style: outset;
    outline-color: azure;
    outline-width: 2vh;
    outline-offset: 3vh;
    /* border-style: dashed;
    border-color: black;
    border-width: 1vh; */


}

/*
.buttonA {
    background-color: #180425;
    #4CAF50 green
    font-family: 'Roboto';
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    border-style: inset;
     font-size: 20px; 
    box-sizing: border-box;
    outline-style: groove;
    outline-color: azure;
     margin-left: 1vw;
    margin-right: 4vw;
    width: 10vw;
    height: 8vh; 
}*/

.buttonA {
    background-color: #4B0082;
    /*#4CAF50 green*/
    font-family: 'Roboto';
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    /* box-sizing: border-box; */
    /* margin-left: 1vw;
    margin-right: 4vw; */
    width: 8vw;
    height: 8vh;
}

.buttonAX {
    background-color: #9400D3;
    /*#4CAF50 green*/
    font-family: 'Roboto';
    font-size: '20px';
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    /* border-style: inset; */
    /* font-size: 20px; */
    box-sizing: border-box;
    /* outline-style: groove; */
    outline-color: azure;
    /* margin-left: 1vw;
    margin-right: 4vw;
    width: 10vw;
    height: 8vh; */
}

.menu {
    background-image: linear-gradient(to right, #4B0082, #9400D3);
    color: white;
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 1vh;
    padding-left: 2vw;
    padding-right: 1vw;
    font-size: auto;
    grid-column: 1 / 3;
    grid-row: 5 / -1;
    opacity: 0.7;
    text-align: justify;
    text-justify: distribute;
    justify-content: space-evenly;
    /* margin-left: -0.6vw; */

}

.forHover {
    font-family: Roboto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .25);
}

.forHover:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .25);
}

Button {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .25);
}

Button:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .25);
}

div {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .25);

}



.content {
    position: relative;
    z-index: 1;
    /* height: 80vh;
    width: 100vw; */
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    color: white;
    display: inline-flex;
    ;
    flex-direction: column;
    justify-content: space-evenly;
    grid-column: 3 / -1;
    grid-row: 5 / -1;
    overflow: scroll;

    /* overflow: scroll; */
}

.contentX {
    position: relative;
    z-index: 1;
    /* height: 80vh;
    width: 100vw; */
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    grid-column: 5 / -1;
    grid-row: 5 / -1;
}

.main .bg {
    background-image: url('https://wallpapercave.com/wp/wp5953742.jpg');
    opacity: 0.8;
    position: absolute;
    z-index: -1;
    height: 80vh;
    width: 100vw;
}

.content .bg {
    background-image: url('https://wallpapercave.com/wp/wp5953742.jpg');
    background-size: contain;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: center;
    float: inline-end;
    opacity: 0.8;
    position: absolute;
    z-index: -1;
    height: 700vh;
    width: 100vw;
    margin-left: -11vw;
}

.contentX .bg {
    background-image: url('https://wallpapercave.com/wp/wp5953742.jpg');
    opacity: 0.8;
    position: absolute;
    z-index: -1;
    height: 83.45vh;
    width: 89vw;
    margin-left: -11.2vw;
}

.content1 {
    height: 70vh;
    width: auto;
    display: flex;
    flex-direction: column;
}

.imageController:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .25);
}

.content2 {
    height: 70vh;
    width: auto;
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
}

.imageCatalog:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .25);
}

.content2:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .25);
}

.imageApp:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .25);
}

*/ .content3 {
    height: 70vh;
    width: auto;
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
}

.contentMenu {
    height: 70vh;
    width: auto;
    display: flex;
    flex-direction: row;
    padding-right: 5vw;
}

.contentMenuColumn {
    height: 70vh;
    width: auto;
    display: flex;
    flex-direction: column;
    padding-right: 5vw;
}

.imageController {
    background-image: url("https://i.ibb.co/XXf02ny/Xbox2020-Cntlr-Hero-MKT-16x9-RGB.png");
    height: 40vh;
    width: auto;
    margin-top: 10vh;
    /* background-color: black; */
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, .50);
}

.imageControllerX {
    background-image: url("https://i.ibb.co/v4C1B8J/imagen4.jpg");
    height: 40vh;
    width: 27vw;
    margin-top: 10vh;
    margin-left: 5vw;
    /* background-color: black; */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, .50);
}

.imageControllerXY {
    background-image: url("https://i.ibb.co/ckHdHL7/imagen1.jpg");
    height: 40vh;
    width: auto;
    margin-top: 10vh;
    /* background-color: black; */
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, .50);
}



.imageApp {
    background-image: url("https://i.ibb.co/cbBBNzz/gamepass.png");
    height: 40vh;
    width: 23vw;
    margin-top: 10vh;
    margin-left: 5vw;
    /* background-color: black; */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, .50);
    /* z-index: 1000 important !; */
}

.imageAppX {
    background-image: url("https://i.ibb.co/2Pgc2L0/imagen3.jpg");
    height: 40vh;
    width: 27vw;
    margin-top: 10vh;
    margin-left: 5vw;
    /* background-color: black; */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, .50);
    /* z-index: 1000 important !; */
}


.imageCatalog {
    background-image: url("https://i.ibb.co/VjdYdHH/images.jpg");
    height: 40vh;
    width: auto;
    margin-top: 10vh;
    /* background-color: black; */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, .50);
}

.imageZoho {
    background-image: url("https://i.ibb.co/njcd6rY/pixlr-bg-result.png");
    /* background-color: black; */
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    padding-left: 4vw;
    margin-right: 3vw;
    height: 16vh;
    width: 14vw;
    margin-top: -6vh;
}

.topBarFlex {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    margin-top: 1vh;
}



.logoSmall {
    background-image: url('https://i.ibb.co/b5P6pSX/ishc0Nh.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    padding-left: 4vw;

}


.imageCatalogX {
    background-image: url("https://i.ibb.co/b6ZxJHF/imagen2.jpg");
    height: 40vh;
    width: 13vw;
    margin-top: 10vh;
    /* background-color: black; */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: -4.5vw;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, .50);
}

.imageAppX:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .25);
}

.imageCatalogX:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .25);
}

.imageControllerX:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .25);
}



.imageController[type=text]:hoover {
    transform: scale(1.05);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .25);
}

.imageCatalog[type=text]:hoover {
    transform: scale(1.05);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .25);
}

.imageApp[type=text]:hoover {
    transform: scale(1.05);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .25);
}

.footer {
    background-color: black;
    height: auto;
    width: 100vw;
    color: white;
    font-family: 'Roboto';
    display: flex;
    box-sizing: border-box;
    font-size: 22px;
    justify-content: center;
    align-content: flex-end;
    padding-right: 3vw;
    /* grid-column: 3 / -1;
    grid-row: 24 / -1; */
    padding-top: 2.4vh;
    margin-top: auto;
    /* margin-left: -0.6vw; */
}

.container1X {
    font-family: 'Roboto';
    background: #FFF;
    display: flex;
    flex-direction: column;
    width: 20vw;
    opacity: 0.9;
    border-bottom-left-radius: 4px;
    /* overflow-x: initial; */
    padding: 1vw;
    justify-content: space-evenly;
    margin-left: 16vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .50);
    height: 150vh;
}

.containerRow1X {
    font-family: 'Roboto';
    /* background: #FFF; */
    display: flex;
    width: 18vw;
    opacity: 0.9;
    /* border-bottom-left-radius: 4px; */
    overflow-x: hidden;
    padding: 1vw;
    justify-content: space-evenly;
    border: none;
    border-radius: 0%;
    /* margin-right: 3vw; */

    /* box-shadow: 0 5px 15px rgba(0, 0, 0, .50); */
}